[Unit]
Description="elife-metrics (uwsgi)"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment="LANG=en_US.UTF-8"
StandardError=syslog
StandardOut=syslog
Restart=on-failure
{% if pillar.elife.newrelic.enabled %}
# '--enable-threads' is required:
# https://docs.newrelic.com/docs/agents/python-agent/hosting-mechanisms/python-agent-uwsgi
Environment="NEW_RELIC_CONFIG_FILE=/srv/elife-metrics/newrelic.ini"
ExecStart=/srv/elife-metrics/venv/bin/newrelic-admin run-program /srv/elife-metrics/venv/bin/uwsgi --enable-threads --die-on-term --ini /srv/elife-metrics/uwsgi.ini
{% else %}
ExecStart=/srv/elife-metrics/venv/bin/uwsgi --die-on-term --ini /srv/elife-metrics/uwsgi.ini
{% endif %}
